@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: linear-gradient(to left, #56226B, #772F94);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(63, 24, 78, 0.629);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #320842;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.478);
}

h2 {
    color: #B548E0;
}

p {
    text-align: justify;
}